<section class="todoapp">
	<header class="header">
		<h1>Changelogger</h1>
		<input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
	</header>
	<section class="main" *ngIf="repoStore.repos.length > 0">
		<h2>Your Dependencies:</h2>
		<ul class="todo-list">
			<li *ngFor="#repo of repoStore.repos">
				<div class="view">
					<label>{{repo.title}}</label>
					<button class="destroy" (click)="remove(repo)"></button>
				</div>
			</li>
		</ul>
	</section>
	<section class="main" >
		<h2>Changelog Updates:</h2>
		<ul class="todo-list">
			<li *ngFor="#changelog of changeLogStore.changelogs" >
				<div class="view">
					<b><p innerHtml="{{ changelog.repoName }}"></p></b>
					<p innerHtml="{{ changelog.update }}"></p>
				</div>
			</li>
		</ul>
	</section>
</section>
